.lp-video-section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lp-video-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.lp-overlay-text {
  position: absolute;
  top: 1.5rem;
  padding: 2rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.lp-title {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

.lp-subtitle {
  font-size: 1.5rem;
}

.lp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
}
