* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.glass-container {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flex-row-space-between {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.width-50 {
  width: 50%;
}
/* button {
  color: #7397cc;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  font-weight: 700;
  padding: 1% 5%;
} */

button {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #576886, #7397cc);
  border-radius: 5px;
  font-family: inherit;
  padding: 0.6em 1.5em;
  cursor: pointer;
}

button:hover {
  background-position: right center;
  background-size: 200% auto;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

ul {
  list-style: none;
}

a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #7397cc;
  text-decoration: none;
  padding: 5%;
  width: 100%;
}

a:hover {
  background-color: #7397cc;
  color: #fff;
}

/* input,
textarea {
  padding: 5px;
}

input:focus,
textarea:focus {
  outline: none;
  caret-color: #7397cc;
  border: 1px solid #7397cc;
} */

input,
textarea {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  border: 1px solid #7397cc;
  transition: 0.3s;
  caret-color: #7397cc;
  color: #212121;
}

input:focus,
textarea:focus {
  outline-color: #7397cc;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #b7b7b7, inset -20px -20px 60px #ffffff;
  transition: 0.3s;
  color: #212121;
}

.errors {
  color: red;
  margin-bottom: 1%;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  height: 100vh;
}

.main-content {
  display: grid;
  grid-template-rows: auto 1fr;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  height: 80vh;
  grid-gap: 1%;
}

.grid-item-double {
  grid-column: span 2;
  background-color: #f8f8ff;
  border: 1px solid #d1d5db;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 44vh;
  overflow: auto;
  padding: 1%;
}

.grid-item {
  background-color: #f8f8ff;
  border: 1px solid #d1d5db;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 44vh;
  max-width: 33vw;
  overflow: auto;
  padding: 1%;
}

::placeholder {
  font-style: italic;
  color: #fff;
}
