.calendar-container {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #f8f8ff;
  border-radius: 20px;
  padding: 2%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendar-header {
  background-color: #7397cc;
  color: #fff;
  padding: 2%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.calendar-selected {
  font-size: 125%;
  font-weight: bold;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  box-sizing: border-box;
}

.current-day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  flex: 1;
  box-sizing: border-box;
  border: 1px solid #d1d5db;
  background-image: linear-gradient(30deg, #576886, #7397cc);
}

.weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  flex: 1;
  box-sizing: border-box;
  border: 1px solid #d1d5db;
  background-color: #f8f8ff;
}

.not-current-day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  flex: 1;
  box-sizing: border-box;
  border: 1px solid #d1d5db;
  background-color: #d5e1ef;
  color: #000;
}

.current-day > button,
.not-current-day > button {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
  border: none;
  border-radius: 0;
  height: 100%;
  width: 100%;
  padding: 1%;
  box-shadow: none;
}

.not-current-day > button {
  background: #d5e1ef;
  color: #7397cc;
}

.calendar-directions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #f8f8ff;
  margin: 2%;
  background-color: #7397cc;
}

.svg-inline--fa.fa-arrow-right,
.svg-inline--fa.fa-arrow-left {
  cursor: pointer;
  background-color: #7397cc;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2%;
}

.svg-inline--fa.fa-bell {
  color: #fff;
  cursor: pointer;
}

.svg-inline--fa.fa-bell:hover {
  filter: brightness(80%);
}
