.header-container {
  display: flex;
  align-items: center;
  height: 10vh;
  background-color: #f8f8ff;
}

.header-element {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #7397cc;
}

.header-logo {
  height: 8vh;
  max-width: 100%;
}

.header-dropdown {
  cursor: pointer;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
  border-radius: 5px;
  width: 150%;
  /* width: 14.6vw; */
  color: #fff;
  z-index: 50;
}

.header-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content p {
  margin: 0;
  padding: 0.25rem;
  z-index: 50;
}

.dropdown-content p:hover {
  background-color: #7397cc;
  color: #fff;
}

.secondary-dropdown {
  display: none;
  position: absolute;
  left: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
  border-radius: 5px;
  width: 40vw;
  color: #fff;
  z-index: 50;
}

.header-dropdown:hover .secondary-dropdown {
  display: block;
}

.profile-dropdown {
  position: absolute;
  top: 100%;
  right: 0.8rem;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
  border-radius: 5px;
  width: 10vw;
  color: #fff;
}

.hidden {
  display: none;
}

.user-profile-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  color: #7397cc;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 100px;
  color: #fafbf6;
  background: transparent;
  border-radius: 5px;
}

.user-info > button {
  width: 100%;
  margin: 2%;
}

.secondary-dropdown-header {
  background-color: #7397cc;
  color: #fff;
}
.secondary-dropdown-prompt {
  color: #7397cc;
  margin-top: 5px;
}

.header-dropdown-block {
  background-color: #7397cc;
  color: #fff;
  margin-top: 2%;
}
