.profile-dropdown {
  position: absolute;
  top: 10.1vh;
  right: 1rem;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  border: 1px solid #7397cc;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  height: 10vh;
  z-index: 10;
  overflow: hidden;
}

.header-container > img {
  max-height: 8vh;
  /* cursor: pointer; */
}

.header-icon {
  position: relative;
  color: #fff;
  cursor: pointer;
}

.header-icon:hover {
  filter: brightness(50%);
}

.header-links {
  display: flex;
  flex-direction: column;
  background: transparent;
  position: absolute;
  top: 10.1vh;
  left: 1rem;
  border-radius: 5px;
  border: 1px solid #fafbf6;
  color: #fafbf6;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  z-index: 10;
  min-width: 20vw;
}

.header-links > li {
  width: 100%;
}

.header-display-text {
  display: flex;
  flex-direction: column;
}

.user-profile-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 100px;
  color: #fafbf6;
  background: transparent;
  border-radius: 5px;
}

.user-info > button {
  width: 100%;
  margin: 2%;
}
