.reminder-item {
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f8f8ff;
  border-bottom: 1px solid #d1d5db;
  background: transparent;
}

.reminder-info {
  border-radius: 5px;
  padding: 1%;
}

.no-reminders {
  font-style: italic;
  color: #d1d5db;
}

.reminders-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reminders-title {
  font-size: 20px;
  margin-bottom: 1%;
  display: flex;
  color: #fff;
  justify-content: center;
  background-color: #565a75;
}

.reminder-button-container > * {
  padding: 5%;
  cursor: pointer;
}

.reminder-button-container > *:hover {
  color: #ffa500;
}

.reminders-heading {
  font-size: 20px;
  margin-bottom: 1%;
  display: flex;
  color: #fff;
  justify-content: center;
  background-color: #fff;
  color: #1a1a1a;
}

/* .reminders {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2%;
}

.error-message {
  color: #f44336;
  font-size: 14px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.reminder-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2%;
  background-color: #f8f8ff;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reminders-heading {
  color: #1a1a1a;
  margin-bottom: 2%;
}

.form-label {
  font-weight: bold;
  margin-bottom: 1%;
}

.form-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 2%;
  border: 1px solid #d1d5db;
  border-radius: 5px;
}

textarea.form-input {
  resize: vertical;
}

.form-button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 2% 5%;
  font-size: 16px;
  cursor: pointer;
  background-color: #7397cc;
}

.form-button:hover {
  background-color: #3e86ef;
} */
