.note-create-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 85%;
  height: auto;
  background-color: #f8f8ff;
  border-radius: 20px;
  padding: 2%;
}

.note-create-h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  color: #000;
  margin: 0;
  padding: 2%;
  border-radius: 5px;
}

.note-create-textarea,
.note-create-input {
  width: 100%;
  min-width: 30vw;
  height: 100%;
  padding: 2%;
  font-size: 16px;
  margin-top: 2%;
  box-sizing: border-box;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  resize: vertical;
}
.note-create-textarea {
  min-height: 12vh;
}

.note-create-form-element {
  width: 100%;
  margin-bottom: 2%;
}

.note-create-form-element > label {
  margin-bottom: 1%;
  font-weight: bold;
}

button[type="submit"] {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1% 5%;
  font-size: 16px;
  cursor: pointer;
  background-color: #7397cc;
}

button[type="submit"]:hover {
  background-color: #3e86ef;
}
