#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(66, 94, 125, 0.1);
}

#modal-content {
  position: absolute;
  padding: 30px;
  border-radius: 20px;
  background: linear-gradient(
    135deg,
    rgba(19, 32, 66, 0.1),
    rgba(17, 87, 145, 0.5)
  );
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(41, 98, 255, 0.1);
  color: #fff;
  /* border: 1px solid #fff; */
}
