.note-page {
  color: #1a1a1a;
  background-color: #f8f8ff;
  width: 100%;
  height: 100%;
}

.note-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8ff;
  width: 100%;
  height: auto;
  padding: 2%;
  margin-top: 2%;
}

.note-buttons > button {
  background-color: #7397cc;
  color: #fff;
}

.note-textarea {
  width: 100%;
  min-height: 27vh;
  min-width: 30vw;
  height: 18vh;
  padding: 2%;
  font-size: 16px;
  margin-top: 2%;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  resize: vertical;
  overflow: hidden;
}

.svg-inline--fa.fa-pen {
  cursor: pointer;
  color: #3e86ef;
}

.note-buttons {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 2%;
}

.note-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f8f8ff;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 2%;
  border-radius: 20px;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2%;
}

.error-message {
  color: #f44336;
  font-size: 14px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
