.aura-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.aura-container button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #7397cc;
  box-sizing: border-box;
  height: 100%;
}

.aura-container button:hover {
  background-color: #3e86ef;
}

.aura-container button:disabled {
  background-color: #7397cc;
  color: #fff;
  cursor: not-allowed;
}

.aura-container select {
  border-radius: 7px;
  border: 1px solid #d1d5db;
  background-color: #7397cc;
  color: #fff;
  max-width: 150px;
}
.aura-container select > option {
  color: #7397cc;
  background-color: #fafbf6;
}
.diagnostic-text {
  color: #565a75;
  cursor: pointer;
}

.diagnostic-text:hover {
  font-weight: bold;
}
